* {
    /* margin: 0; */
    padding: 0;
}

body {
    background-image: url(Assests/wallaper.jpg);
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.taskbar_container {
    position: absolute;
    bottom: 20px;
}

.taskbar-box {
    display: flex;
    justify-content: center;
}

.taskbar {
    display: flex;
    justify-content: center;
    width: auto;
    height: 70px;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.314), 0 0 18px 3px rgba(0, 0, 0, .3);
    border-radius: 20px;
    padding-bottom: 5px;
}

.apps {
    display: flex;
    gap: 25px;
    padding-left: 5px;
    padding-right: 10px;
    align-items: center;
    width: auto;
    height: 100%;
}

.apps img {
    user-select: none;
    cursor: pointer;
}

.main_box {
    width: 95%;
    height: 80vh;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    font-size: 1.2rem;
}

.header button {
    cursor: pointer;
    background: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
}

.weekdays,
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.weekdays div {
    font-weight: bold;
    padding: 10px 0;
    color: #999;
    font-size: 0.8rem;
}

.days div {
    padding: 15px 0;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: 0.2s;
}

.days div:hover {
    background: #b9b9b9;
}

.today {
    color: #fff;
    font-weight: bold;
    background: blue;
}

#calendar_box {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.314), 0 0 18px 3px rgba(0, 0, 0, .3);
    transition: all 0.5s ease-in-out;
}

#clock {
    width: 300px;
    height: 140px;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.314), 0 0 18px 3px rgba(0, 0, 0, .3);
    transition: all 0.5s ease-in-out;
}

#search-bar p {
    width: 280px;
    display: flex;
    justify-content: center;
}

#search-bar {
    width: 300px;
    height: 140px;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.314), 0 0 18px 3px rgba(0, 0, 0, .3);
    transition: all 0.5s ease-in-out;
}

#calendar_box {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.314), 0 0 18px 3px rgba(0, 0, 0, .3);
    transition: all 0.5s ease-in-out;
}

.dot {
    position: absolute;
    width: 25px;
    height: 5px;
    border-radius: 5px;
    bottom: 6px;
    background-color: rgb(251, 47, 47);
    margin-left: 15px;
    transition: all 0.5s ease-in-out;
}

#todo_container {
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.314), 0 0 18px 3px rgba(0, 0, 0, .3);
    padding: 2rem;
    border-radius: 20px;
    width: 300px;
    height: 326px;
    transition: all 0.5s ease-in-out;
}

#taskList li {
    background: transparent;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #5c5c5c6d;
}

#taskList {
    overflow: auto;
    height: 230px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#taskList::-webkit-scrollbar {
    display: none;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
    border: none;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.314), 0 0 18px 3px rgba(0, 0, 0, .3);
    outline: none;
    background-color: transparent;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.input-section button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: #dc3545;
    font-size: 12px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#coln {
    animation: blink 0.5s infinite;
}

@media screen and (max-width: 1257px) {

    #calendar_box,
    #clock,
    #search-bar,
    #todo_container {
        max-width: 300px;
    }
}